@font-face {
    font-family: Rhama;
    src: url(../font/Rhama.ttf);
}

html{
    width: 100vw;
    height: 100vh;
    
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    margin: 1%;
    padding: 0 1%;
    box-sizing: border-box;
}

.main_title{
    position: relative;
    margin: 0 auto 0;

    width: max-content;
    font-family: Rhama;
    font-size: 480%;
    font-weight: bolder;
}

hr{
    margin: 0;
    background-color: black;
    opacity: 1;
    height: 5px;
    border: none;
}

/* .welcome{
    position: relative;
    display: block;
    margin: 0 auto 10px;
    width: max-content;
    font-size: large;
    font-weight: 500;
    border-color: red;
    border-style: solid;
    border-width: 1px;
} */

.main_content{
    margin: 10px 3% auto;

    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 6fr 4fr;
    gap: 10px;
    height: 82vh;
}

.content_div{
    padding: 10px;

    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 3px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content_div:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 191, 112, 0.3);
    ;
}

.content_div h2{
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 1.4rem;
}

.cd_1{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.cd_23{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.cd_2{
    grid-column: 1;
    grid-row: 1;
    margin-right: 5px;
}
.cd_3{
    grid-column: 2;
    grid-row: 1;
    margin-left: 5px;
}
.cd_45{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cd_4{
    grid-column: 1;
    grid-row: 1;
    margin-right: 5px;
}
.cd_5{
    grid-column: 2;
    grid-row: 1;
    margin-left: 5px;
}

.content_link_div{
    flex: 1;
    overflow: hidden;
    position: relative;
}

.content_link_list{
    margin: 0 2%;
    padding: 0;
    list-style: none;
}

.content_link{
    margin-bottom: 5px;
}

.content_link a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.content_link a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
}

.external_link{
    position: relative;
    margin: 15px auto 5px;
    padding: 0;

    height: max-content;
    width: max-content;

    display: flex;
    align-items: center;
    gap: 5px;
}

.my_github_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.my_github_link:hover {
    transform: scale(1.01);
}

.github_icon{
    margin: 0;
    padding: 0;

    height: 25px;
    width: auto;
}

.about_me_button{
    margin: 0;
    padding: 0 5px;

    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 1em;
    border-color: black;
    border-style: solid;
    border-width: 3px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
    font-size: medium;
    font-weight: bold;
}
.about_me_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}