@font-face {
    font-family: Rhama;
    src: url(../font/Rhama.ttf);
}

html{
    width: 100vw;
    height: 100vh;
    
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    margin: 1%;
    padding: 0 1%;
    box-sizing: border-box;

    /* border-color: blueviolet; */
    /* border-style: solid; */
    /* border-width: 1px; */
}

.main_title{
    /* 使用常规文档流，并通过 margin 自动居中，避免 absolute 导致脱离流
       这样 .welcome 可以自然地出现在 .main_title 下面 */
    position: relative;
    margin: 0 auto 0;
    /* padding: 5px; */

    width: max-content;
    font-family: Rhama;
    font-size: 480%;
    font-weight: bolder;
    /* text-align: center; */

    /* border-color: aqua; */
    /* border-style: solid; */
    /* border-width: 1px; */
}

hr{
    margin: 0;
    background-color: black;
    opacity: 1;
    height: 5px;
    border: none;
}

.welcome{
    /* 作为块级元素居中并放在 .main_title 下面 */
    position: relative;
    display: block;
    margin: 0 auto 10px;
    width: max-content;
    font-size: large;
    font-weight: 500;
    /* text-align: center; */
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

.main_content{
    margin: 10px 3% auto;

    display: grid;
    grid-template-columns: 2.3fr 5fr 2.7fr;
    grid-template-rows: 6fr 4fr;
    gap: 10px;
    /* max-width: 1200px; */
    height: 80vh;

    /* border-color: greenyellow; */
    /* border-style: solid; */
    /* border-width: 1px; */
}

.content_div{
    padding: 10px;

    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.content_div:hover{
    /* transform: translateY(-5px); */
    transform: scale(1.01);
    /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); */
}

.content_div h2{
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 1.4rem;
}

.cd_1{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.cd_2{
    grid-column: 2;
    grid-row: 1;
}
.cd_3{
    grid-column: 3;
    grid-row: 1;
}
.cd_4{
    grid-column: 2;
    grid-row: 2;
}
.cd_5{
    grid-column: 3;
    grid-row: 2;
}

.content_link_div{
    flex: 1;
    overflow: hidden;
    position: relative;
}

.content_link_list{
    margin: 0 2%;
    padding: 0;
    list-style: none;
}

.content_link{
    margin-bottom: 5px;
}

.content_link a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* background-color: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.content_link a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
}

.about_me_button{
    position: relative;
    margin: 10px auto 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.6em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.about_me_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%) scale(1.05);
}